name: Create EKS Cluster

on:
  workflow_dispatch:   # manual trigger

jobs:
  create:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Install eksctl
      run: |
        curl --silent --location \
        "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" \
        | tar xz -C /tmp
        sudo mv /tmp/eksctl /usr/local/bin

    - name: Create Cluster
      run: eksctl create cluster -f infra/cluster.yaml
